APP_NAME=
APP_VERSION=
APP_PORT=
APP_BASE_PATH=
APP_SHUTDOWN_TIMEOUT=
PROBLEM_INCLUDE_SOURCE=
LOG_LEVEL=

# Config Database

# LifePing
LIFE_PING_DB=
LIFE_PING_USER=
LIFE_PING_PASSWORD=

LIFE_PING_MAIL_USER=
LIFE_PING_MAIL_PASSWORD=
LIFE_PING_MAIL_FROM=
LIFE_PING_MAIL_HOST=
LIFE_PING_MAIL_PORT=
# BusinessCard
BUSINESS_CARD_DB=
BUSINESS_CARD_USER=
BUSINESS_CARD_PASSWORD=
# Account
ACCOUNT_DB=
ACCOUNT_USER=
ACCOUNT_PASSWORD=

# STORE PURCHASE
STORE_PURCHASE_DB=
STORE_PURCHASE_USER=
STORE_PURCHASE_PASSWORD=

SUPER_USER_PASSWORD=

DB_HOST=
DB_PORT=
DB_QUERY_PARAMS=
DB_POOL_MAX_SIZE=
DB_POOL_IDLE_TIMEOUT=
DB_POOL_MAX_LIFETIME=
DB_POOL_RECONNECT_ATTEMPTS=
DB_POOL_CACHE_PREPARED_STATEMENTS=
DB_KIND=

# TOKEN VALIDITY in mm
ACCESS_TOKEN_VALIDITY=
REFRESH_TOKEN_VALIDITY=

IMAGE_UPLOAD_BASE_DIR=
IMAGE_CACHE_DIR=
IMAGE_ROUTE_PREFIX=

# Google Store Purchase
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_REFRESH_TOKEN=
GOOGLE_ACCESS_TOKEN=
GOOGLE_SERVICE_ACCOUNT_PATH=
